.site-wrapper {
  text-align: center;

  .booking-events {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  .newBooking-enter {
    opacity: 0.01;

    .newBooking-enter-active {
      opacity: 1;
      transition: opacity 500ms ease-in;
    }
  }
}
